<html>
  <head>
    <title>Hypothetical Happenings</title>
  </head>
  <body>
    <div>
      <h1>Stories that prove a point</h1>
    </div>

    <div>
      <h2>Why Teleportation is a Moral Dilemma </h2>
      <p><em>(For this example, we are going to assume Buddhism is the correct religion)</em> <br>
        On the space ship X-051, your mission is to survey a newly terraformed world. To do that you need to take the teleporter down, a device that harkens back to the transporter depicted in Star Trek. With a bright flash of light, you feel your flesh sear off as your very molecules are pulled apart. Then you open all eight of your arachnid eyes as you burst forth from an egg sack. Blinking in disbelief you view the world alongside of your thousands of siblings. Another bright light, dear buddha what can it be this time! As the shapeless light begins to take form it begins to look eerie familiar, yet massive compared to your insectile body. It’s… you, or at least it looks like the you, you were just moments ago. But before you could react you hear a shrill “eek” before a massive foot flattens you, sending you even further along the reincarnation cycle. </p>

        <p>What the Naraka happened here? Well you were killed as a transporter disassembled your molecules. Since reincarnation is what happens after death, you got real unlucky encountering the clone that was replicated at a different location using the molecular recipe that transporter fried out of you. </p>

        <p>Many religions view the soul as being the vessel for your continuity of existence. Despite the many changes your brain undergoes, you are at the very least convinced that the very different you’s throughout life were all well… you. And that makes us wonder, how does this self-continuity even link in relation to our physical body. If you replicated your exact being 5 feet from your molecule by molecule, most people would agree that, that is a clone you’ve just made. You won’t instantly have your consciousness sucked out of your body and ported over to the other body. But what if your current body gets torn apart and then the other is made. Well that’s one of the more famous conceptual ideas of teleporter and well frankly the idea of dying when you just intend to travel is quite terrifying. So, watch yourself next time you step into a teleporter, you might just die.
      </p>
    </div>
</body>
</html>
